@import './fonts.scss';
@import './variables.scss';
* {
    box-sizing: border-box; // o border-box define que o tamanho do conteudo é a junção de conteudo, margins e paddings, facilitando dimensionamento e posição de elementos
}

html, body {
    height:100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}
