@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables.scss';
* {
    box-sizing: border-box; // o border-box define que o tamanho do conteudo é a junção de conteudo, margins e paddings, facilitando dimensionamento e posição de elementos
}

html, body {
    height:100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
}