$background-color: rgb(234, 234, 234);
$primary-color: rgb(234, 29, 37);
$secondary-color: rgb(255, 255, 255);
$text-color: rgb(92, 99, 105);
$text-color-light: rgba(92, 99, 105, 0.45);
$text-color-white: rgb(255, 255, 255);
$positive-variation-color: rgb(135, 216, 131);
$positive-variation-color-shadow: rgba(13, 54, 11, 0.25);
$negative-variation-color: rgb(245, 90, 95);

// media queries

$breakpoint-tablet: 768px;